body {
    background-color: black;
    color: black;
}

#landing {
    height: 100vh;
    background-image: url('../images/machine2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#mainText {
    margin-top: 30vh;

}

#text {
    text-align: center;


}

#intro {
    height: 300px;
    background-color: rgb(61, 61, 61);
    margin-top: 5px;
    background-image: url('../images/machine5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;



}

#work {
    background-color: rgb(61, 61, 61);
    margin-top: 50px;
    background-image: url('../images/machine2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}


#footer {
    height: 300px;
    text-align: end;
    text-align: center;

}

#work2 {
    background-color: rgb(61, 61, 61);
    margin-top: 50px;
    background-image: url('../images/machine5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#card {
    margin-top: 50px;
    display: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}
